:root{font-size: 24px;}

.tr1{
margin: 13px 16px 23px 34px;
color: yellowgreen;
}

p:first-child, p:last-child, p:nth-child(4){
    color: aqua;
}
.square{
    width: 75px;
    height: 75px;
    border: 4px solid blue ;
   

}
.square:hover{
    /* daca punem asta el o sa coloreze tot ce e inauntru:  color: red;*/
    border: 10px solid red;
    
}
.heading::after{  content: 'dupa'

}
.heaging::before {
    content: 'INAINTE';
}
.class3{
    font-size: 24px;
 p:first-child{
    font-size: 2em;
 }
 p:last-child{font-size: 2rem;

 }
}
